/* body {
  margin: 1em;
  padding: 2em;
}

.current-card {
  background-color: #1c57b8;
  margin: 1em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
  color: #ffffff;
}
.temp-font {
  font-size: 2.5em;
}
.feels-like {
  font-size: 1.5em;
} */