<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>

<body>
  <!--Kisumu current weather-->
  <div>
    <h3>Kisumu</h3>
    <h5><b><em>STATUS: </em></b>{{ksm_current.status}}</h5>
    <p><b>time</b>: {{ksm_current.time}}</p>
    <p><b>temp</b>: {{ksm_current.temp}}</p>
    <p><b>feels_like</b>: {{ksm_current.feels_like}}</p>
    <p><b>pressure</b>: {{ksm_current.pressure}}</p>
    <p><b>humidity</b>: {{ksm_current.humidity}}</p>
    <p><b>clouds</b>: {{ksm_current.clouds}}</p>
    <p><b>visibility</b>: {{ksm_current.visibility}}</p>
    <p><b>wind_speed</b>: {{ksm_current.wind_speed}}</p>
    <p><b>wind_deg</b>: {{ksm_current.wind_deg}}</p>
    <p><b>weather_id</b>: {{ksm_current.weather_id}}</p>
    <p><b>weather_main</b>: {{ksm_current.weather_main}}</p>
    <p><b>weather_description</b>: {{ksm_current.weather_description}}</p>
    <p><b>weather_icon</b>: {{ksm_current.weather_icon}}</p>

    <h3>Kisumu Daily predicted weather</h3>
    {% for ksm_daily in ksm_daily_results %}
    <h5><b><em>STATUS: </em></b>{{ksm_daily.status}}</h5>
    <h4>{{ksm_daily.time}} predictions</h4>
    <p><b>time</b>: {{ksm_daily.time}}</p>
    <p><b>day_temp</b>: {{ksm_daily.day_temp}}</p>
    <p><b>night_temp</b>: {{ksm_daily.night_temp}}</p>
    <p><b>min_temp</b>: {{ksm_daily.min_temp}}</p>
    <p><b>max_temp</b>: {{ksm_daily.max_temp}}</p>
    <p><b>eve_temp</b>: {{ksm_daily.eve_temp}}</p>
    <p><b>morn_temp</b>: {{ksm_daily.morn_temp}}</p>
    <p><b>pressure</b>: {{ksm_daily.pressure}}</p>
    <p><b>humidity</b>: {{ksm_daily.humidity}}</p>
    <p><b>wind_speed</b>: {{ksm_daily.wind_speed}}</p>
    <p><b>wind_deg</b>: {{ksm_daily.wind_deg}}</p>
    <p><b>pop</b>: {{ksm_daily.pop}}</p>
    <p><b>rain</b>: {{ksm_daily.rain}}</p>
    <p><b>clouds</b>: {{ksm_daily.clouds}}</p>
    <p><b>weather_id</b>: {{ksm_daily.weather_id}}</p>
    <p><b>weather_main</b>: {{ksm_daily.weather_main}}</p>
    <p><b>weather_description</b>: {{ksm_daily.weather_description}}</p>
    <p><b>weather_icon</b>: {{ksm_daily.weather_icon}}</p>
    {% endfor %}
  </div>
  <!--Mombasa current weather-->
  <div>
    <h3>Mombasa</h3>
    <h4>Current</h4>
    <h5><b><em>STATUS: </em></b>{{msa_current.status}}</h5>
    <p><b>time</b>: {{msa_current.time}}</p>
    <p><b>temp</b>: {{msa_current.temp}}</p>
    <p><b>feels_like</b>: {{msa_current.feels_like}}</p>
    <p><b>pressure</b>: {{msa_current.pressure}}</p>
    <p><b>humidity</b>: {{msa_current.humidity}}</p>
    <p><b>clouds</b>: {{msa_current.clouds}}</p>
    <p><b>visibility</b>: {{msa_current.visibility}}</p>
    <p><b>wind_speed</b>: {{msa_current.wind_speed}}</p>
    <p><b>wind_deg</b>: {{msa_current.wind_deg}}</p>
    <p><b>weather_id</b>: {{msa_current.weather_id}}</p>
    <p><b>weather_main</b>: {{msa_current.weather_main}}</p>
    <p><b>weather_description</b>: {{msa_current.weather_description}}</p>
    <p><b>weather_icon</b>: {{msa_current.weather_icon}}</p>

    <h3>Mombasa Daily predicted weather</h3>
    {% for msa_daily in msa_daily_results %}
    <h5><b><em>STATUS: </em></b>{{msa_daily.status}}</h5>
    <h4>{{msa_daily.time}} predictions</h4>
    <p><b>time</b>: {{msa_daily.time}}</p>
    <p><b>day_temp</b>: {{msa_daily.day_temp}}</p>
    <p><b>night_temp</b>: {{msa_daily.night_temp}}</p>
    <p><b>min_temp</b>: {{msa_daily.min_temp}}</p>
    <p><b>max_temp</b>: {{msa_daily.max_temp}}</p>
    <p><b>eve_temp</b>: {{msa_daily.eve_temp}}</p>
    <p><b>morn_temp</b>: {{msa_daily.morn_temp}}</p>
    <p><b>pressure</b>: {{msa_daily.pressure}}</p>
    <p><b>humidity</b>: {{msa_daily.humidity}}</p>
    <p><b>wind_speed</b>: {{msa_daily.wind_speed}}</p>
    <p><b>wind_deg</b>: {{msa_daily.wind_deg}}</p>
    <p><b>pop</b>: {{msa_daily.pop}}</p>
    <p><b>rain</b>: {{msa_daily.rain}}</p>
    <p><b>clouds</b>: {{msa_daily.clouds}}</p>
    <p><b>weather_id</b>: {{msa_daily.weather_id}}</p>
    <p><b>weather_main</b>: {{msa_daily.weather_main}}</p>
    <p><b>weather_description</b>: {{msa_daily.weather_description}}</p>
    <p><b>weather_icon</b>: {{msa_daily.weather_icon}}</p>
    {% endfor %}
</div>
  <!--Kilifi current weather-->
  <div>
    <h3>Kilifi</h3>
  <h4>Current</h4>
  <h5><b><em>STATUS: </em></b>{{kilifi_current.status}}</h5>
  <p><b>time</b>: {{kilifi_current.time}}</p>
  <p><b>temp</b>: {{kilifi_current.temp}}</p>
  <p><b>feels_like</b>: {{kilifi_current.feels_like}}</p>
  <p><b>pressure</b>: {{kilifi_current.pressure}}</p>
  <p><b>humidity</b>: {{kilifi_current.humidity}}</p>
  <p><b>clouds</b>: {{kilifi_current.clouds}}</p>
  <p><b>visibility</b>: {{kilifi_current.visibility}}</p>
  <p><b>wind_speed</b>: {{kilifi_current.wind_speed}}</p>
  <p><b>wind_deg</b>: {{kilifi_current.wind_deg}}</p>
  <p><b>weather_id</b>: {{kilifi_current.weather_id}}</p>
  <p><b>weather_main</b>: {{kilifi_current.weather_main}}</p>
  <p><b>weather_description</b>: {{kilifi_current.weather_description}}</p>
  <p><b>weather_icon</b>: {{kilifi_current.weather_icon}}</p>

  <h3>Kilifi Daily predicted weather</h3>
  {% for kilifi_daily in kilifi_daily_results %}
  <h4>{{kilifi_daily.time}} predictions</h4>
  <h5><b><em>STATUS: </em></b>{{kilifi_daily.status}}</h5>
  <p><b>time</b>: {{kilifi_daily.time}}</p>
  <p><b>day_temp</b>: {{kilifi_daily.day_temp}}</p>
  <p><b>night_temp</b>: {{kilifi_daily.night_temp}}</p>
  <p><b>min_temp</b>: {{kilifi_daily.min_temp}}</p>
  <p><b>max_temp</b>: {{kilifi_daily.max_temp}}</p>
  <p><b>eve_temp</b>: {{kilifi_daily.eve_temp}}</p>
  <p><b>morn_temp</b>: {{kilifi_daily.morn_temp}}</p>
  <p><b>pressure</b>: {{kilifi_daily.pressure}}</p>
  <p><b>humidity</b>: {{kilifi_daily.humidity}}</p>
  <p><b>wind_speed</b>: {{kilifi_daily.wind_speed}}</p>
  <p><b>wind_deg</b>: {{kilifi_daily.wind_deg}}</p>
  <p><b>pop</b>: {{kilifi_daily.pop}}</p>
  <p><b>rain</b>: {{kilifi_daily.rain}}</p>
  <p><b>clouds</b>: {{kilifi_daily.clouds}}</p>
  <p><b>weather_id</b>: {{kilifi_daily.weather_id}}</p>
  <p><b>weather_main</b>: {{kilifi_daily.weather_main}}</p>
  <p><b>weather_description</b>: {{kilifi_daily.weather_description}}</p>
  <p><b>weather_icon</b>: {{kilifi_daily.weather_icon}}</p>
  {% endfor %}
  </div>

  <!--Turkana current weather-->
  <div>
    <h3>Turkana </h3>
  <h4>Current</h4>
  <h5><b><em>STATUS: </em></b>{{turkana_current.status}}</h5>
  <p><b>time</b>: {{turkana_current.time}}</p>
  <p><b>temp</b>: {{turkana_current.temp}}</p>
  <p><b>feels_like</b>: {{turkana_current.feels_like}}</p>
  <p><b>pressure</b>: {{turkana_current.pressure}}</p>
  <p><b>humidity</b>: {{turkana_current.humidity}}</p>
  <p><b>clouds</b>: {{turkana_current.clouds}}</p>
  <p><b>visibility</b>: {{turkana_current.visibility}}</p>
  <p><b>wind_speed</b>: {{turkana_current.wind_speed}}</p>
  <p><b>wind_deg</b>: {{turkana_current.wind_deg}}</p>
  <p><b>weather_id</b>: {{turkana_current.weather_id}}</p>
  <p><b>weather_main</b>: {{turkana_current.weather_main}}</p>
  <p><b>weather_description</b>: {{turkana_current.weather_description}}</p>
  <p><b>weather_icon</b>: {{turkana_current.weather_icon}}</p>

  <h3>Turkana Daily predicted weather</h3>
  {% for turkana_daily in turkana_daily_results %}
  <h4>{{turkana_daily.time}} predictions</h4>
  <p><b>time</b>: {{turkana_daily.time}}</p>
  <h5><b><em>STATUS: </em></b>{{turkana_daily.status}}</h5>
  <p><b>day_temp</b>: {{turkana_daily.day_temp}}</p>
  <p><b>night_temp</b>: {{turkana_daily.night_temp}}</p>
  <p><b>min_temp</b>: {{turkana_daily.min_temp}}</p>
  <p><b>max_temp</b>: {{turkana_daily.max_temp}}</p>
  <p><b>eve_temp</b>: {{turkana_daily.eve_temp}}</p>
  <p><b>morn_temp</b>: {{turkana_daily.morn_temp}}</p>
  <p><b>pressure</b>: {{turkana_daily.pressure}}</p>
  <p><b>humidity</b>: {{turkana_daily.humidity}}</p>
  <p><b>wind_speed</b>: {{turkana_daily.wind_speed}}</p>
  <p><b>wind_deg</b>: {{turkana_daily.wind_deg}}</p>
  <p><b>pop</b>: {{turkana_daily.pop}}</p>
  <p><b>rain</b>: {{turkana_daily.rain}}</p>
  <p><b>clouds</b>: {{turkana_daily.clouds}}</p>
  <p><b>weather_id</b>: {{turkana_daily.weather_id}}</p>
  <p><b>weather_main</b>: {{turkana_daily.weather_main}}</p>
  <p><b>weather_description</b>: {{turkana_daily.weather_description}}</p>
  <p><b>weather_icon</b>: {{turkana_daily.weather_icon}}</p>
  {% endfor %}

  </div>
  <!--Bondo current weather-->
 <div>
  <h3>Bondo</h3>
  <h4>Current</h4>
  <h5><b><em>STATUS: </em></b>{{bondo_current.status}}</h5>
  <p><b>time</b>: {{bondo_current.time}}</p>
  <p><b>temp</b>: {{bondo_current.temp}}</p>
  <p><b>feels_like</b>: {{bondo_current.feels_like}}</p>
  <p><b>pressure</b>: {{bondo_current.pressure}}</p>
  <p><b>humidity</b>: {{bondo_current.humidity}}</p>
  <p><b>clouds</b>: {{bondo_current.clouds}}</p>
  <p><b>visibility</b>: {{bondo_current.visibility}}</p>
  <p><b>wind_speed</b>: {{bondo_current.wind_speed}}</p>
  <p><b>wind_deg</b>: {{bondo_current.wind_deg}}</p>
  <p><b>weather_id</b>: {{bondo_current.weather_id}}</p>
  <p><b>weather_main</b>: {{bondo_current.weather_main}}</p>
  <p><b>weather_description</b>: {{bondo_current.weather_description}}</p>
  <p><b>weather_icon</b>: {{bondo_current.weather_icon}}</p>

  <h3>bondo Daily predicted weather</h3>
  {% for bondo_daily in bondo_daily_results %}
  <h4>{{bondo_daily.time}} predictions</h4>
  <h5><b><em>STATUS: </em></b>{{bondo_daily.status}}</h5>
  <p><b>time</b>: {{bondo_daily.time}}</p>
  <p><b>day_temp</b>: {{bondo_daily.day_temp}}</p>
  <p><b>night_temp</b>: {{bondo_daily.night_temp}}</p>
  <p><b>min_temp</b>: {{bondo_daily.min_temp}}</p>
  <p><b>max_temp</b>: {{bondo_daily.max_temp}}</p>
  <p><b>eve_temp</b>: {{bondo_daily.eve_temp}}</p>
  <p><b>morn_temp</b>: {{bondo_daily.morn_temp}}</p>
  <p><b>pressure</b>: {{bondo_daily.pressure}}</p>
  <p><b>humidity</b>: {{bondo_daily.humidity}}</p>
  <p><b>wind_speed</b>: {{bondo_daily.wind_speed}}</p>
  <p><b>wind_deg</b>: {{bondo_daily.wind_deg}}</p>
  <p><b>pop</b>: {{bondo_daily.pop}}</p>
  <p><b>rain</b>: {{bondo_daily.rain}}</p>
  <p><b>clouds</b>: {{bondo_daily.clouds}}</p>
  <p><b>weather_id</b>: {{bondo_daily.weather_id}}</p>
  <p><b>weather_main</b>: {{bondo_daily.weather_main}}</p>
  <p><b>weather_description</b>: {{bondo_daily.weather_description}}</p>
  <p><b>weather_icon</b>: {{bondo_daily.weather_icon}}</p>
  {% endfor %}
 </div>

  <!--Lamu current weather-->
  <div>
    <h3>Lamu</h3>
  <h4>Current</h4>
  <h5><b><em>STATUS: </em></b>{{lamu_current.status}}</h5>
  <p><b>time</b>: {{lamu_current.time}}</p>
  <p><b>temp</b>: {{lamu_current.temp}}</p>
  <p><b>feels_like</b>: {{lamu_current.feels_like}}</p>
  <p><b>pressure</b>: {{lamu_current.pressure}}</p>
  <p><b>humidity</b>: {{lamu_current.humidity}}</p>
  <p><b>clouds</b>: {{lamu_current.clouds}}</p>
  <p><b>visibility</b>: {{lamu_current.visibility}}</p>
  <p><b>wind_speed</b>: {{lamu_current.wind_speed}}</p>
  <p><b>wind_deg</b>: {{lamu_current.wind_deg}}</p>
  <p><b>weather_id</b>: {{lamu_current.weather_id}}</p>
  <p><b>weather_main</b>: {{lamu_current.weather_main}}</p>
  <p><b>weather_description</b>: {{lamu_current.weather_description}}</p>
  <p><b>weather_icon</b>: {{lamu_current.weather_icon}}</p>

  <h3>Lamu Daily predicted weather</h3>
  {% for lamu_daily in lamu_daily_results %}
  <h4>{{lamu_daily.time}} predictions</h4>
  <h5><b><em>STATUS: </em></b>{{lamu_daily.status}}</h5>
  <p><b>time</b>: {{lamu_daily.time}}</p>
  <p><b>day_temp</b>: {{lamu_daily.day_temp}}</p>
  <p><b>night_temp</b>: {{lamu_daily.night_temp}}</p>
  <p><b>min_temp</b>: {{lamu_daily.min_temp}}</p>
  <p><b>max_temp</b>: {{lamu_daily.max_temp}}</p>
  <p><b>eve_temp</b>: {{lamu_daily.eve_temp}}</p>
  <p><b>morn_temp</b>: {{lamu_daily.morn_temp}}</p>
  <p><b>pressure</b>: {{lamu_daily.pressure}}</p>
  <p><b>humidity</b>: {{lamu_daily.humidity}}</p>
  <p><b>wind_speed</b>: {{lamu_daily.wind_speed}}</p>
  <p><b>wind_deg</b>: {{lamu_daily.wind_deg}}</p>
  <p><b>pop</b>: {{lamu_daily.pop}}</p>
  <p><b>rain</b>: {{lamu_daily.rain}}</p>
  <p><b>clouds</b>: {{lamu_daily.clouds}}</p>
  <p><b>weather_id</b>: {{lamu_daily.weather_id}}</p>
  <p><b>weather_main</b>: {{lamu_daily.weather_main}}</p>
  <p><b>weather_description</b>: {{lamu_daily.weather_description}}</p>
  <p><b>weather_icon</b>: {{lamu_daily.weather_icon}}</p>
  {% endfor %}
  </div>

  <!--Malindi Weather-->
  <div>
    <h3>Malindi</h3>
  <h4>Current</h4>
  <h5><b><em>STATUS: </em></b>{{malindi_current.status}}</h5>
  <p><b>time</b>: {{malindi_current.time}}</p>
  <p><b>temp</b>: {{malindi_current.temp}}</p>
  <p><b>feels_like</b>: {{malindi_current.feels_like}}</p>
  <p><b>pressure</b>: {{malindi_current.pressure}}</p>
  <p><b>humidity</b>: {{malindi_current.humidity}}</p>
  <p><b>clouds</b>: {{malindi_current.clouds}}</p>
  <p><b>visibility</b>: {{malindi_current.visibility}}</p>
  <p><b>wind_speed</b>: {{malindi_current.wind_speed}}</p>
  <p><b>wind_deg</b>: {{malindi_current.wind_deg}}</p>
  <p><b>weather_id</b>: {{malindi_current.weather_id}}</p>
  <p><b>weather_main</b>: {{malindi_current.weather_main}}</p>
  <p><b>weather_description</b>: {{malindi_current.weather_description}}</p>
  <p><b>weather_icon</b>: {{malindi_current.weather_icon}}</p>

  <h3>Malindi Daily predicted weather</h3>
  {% for malindi_daily in malindi_daily_results %}
  <h4>{{malindi_daily.time}} predictions</h4>
  <h5><b><em>STATUS: </em></b>{{malindi_daily.status}}</h5>
  <p><b>time</b>: {{malindi_daily.time}}</p>
  <p><b>day_temp</b>: {{malindi_daily.day_temp}}</p>
  <p><b>night_temp</b>: {{malindi_daily.night_temp}}</p>
  <p><b>min_temp</b>: {{malindi_daily.min_temp}}</p>
  <p><b>max_temp</b>: {{malindi_daily.max_temp}}</p>
  <p><b>eve_temp</b>: {{malindi_daily.eve_temp}}</p>
  <p><b>morn_temp</b>: {{malindi_daily.morn_temp}}</p>
  <p><b>pressure</b>: {{malindi_daily.pressure}}</p>
  <p><b>humidity</b>: {{malindi_daily.humidity}}</p>
  <p><b>wind_speed</b>: {{malindi_daily.wind_speed}}</p>
  <p><b>wind_deg</b>: {{malindi_daily.wind_deg}}</p>
  <p><b>pop</b>: {{malindi_daily.pop}}</p>
  <p><b>rain</b>: {{malindi_daily.rain}}</p>
  <p><b>clouds</b>: {{malindi_daily.clouds}}</p>
  <p><b>weather_id</b>: {{malindi_daily.weather_id}}</p>
  <p><b>weather_main</b>: {{malindi_daily.weather_main}}</p>
  <p><b>weather_description</b>: {{malindi_daily.weather_description}}</p>
  <p><b>weather_icon</b>: {{malindi_daily.weather_icon}}</p>
  {% endfor %}
  </div>

  <!--Homabay-->
  <div>
    <h3>Homabay</h3>
  <h4>Current</h4>
  <h5><b><em>STATUS: </em></b>{{homabay_current.status}}</h5>
  <p><b>time</b>: {{homabay_current.time}}</p>
  <p><b>temp</b>: {{homabay_current.temp}}</p>
  <p><b>feels_like</b>: {{homabay_current.feels_like}}</p>
  <p><b>pressure</b>: {{homabay_current.pressure}}</p>
  <p><b>humidity</b>: {{homabay_current.humidity}}</p>
  <p><b>clouds</b>: {{homabay_current.clouds}}</p>
  <p><b>visibility</b>: {{homabay_current.visibility}}</p>
  <p><b>wind_speed</b>: {{homabay_current.wind_speed}}</p>
  <p><b>wind_deg</b>: {{homabay_current.wind_deg}}</p>
  <p><b>weather_id</b>: {{homabay_current.weather_id}}</p>
  <p><b>weather_main</b>: {{homabay_current.weather_main}}</p>
  <p><b>weather_description</b>: {{homabay_current.weather_description}}</p>
  <p><b>weather_icon</b>: {{homabay_current.weather_icon}}</p>

  <h3>Homabay Daily predicted weather</h3>
  {% for homabay_daily in homabay_daily_results %}
  <h4>{{homabay_daily.time}} predictions</h4>
  <h5><b><em>STATUS: </em></b>{{homabay_daily.status}}</h5>
  <p><b>time</b>: {{homabay_daily.time}}</p>
  <p><b>day_temp</b>: {{homabay_daily.day_temp}}</p>
  <p><b>night_temp</b>: {{homabay_daily.night_temp}}</p>
  <p><b>min_temp</b>: {{homabay_daily.min_temp}}</p>
  <p><b>max_temp</b>: {{homabay_daily.max_temp}}</p>
  <p><b>eve_temp</b>: {{homabay_daily.eve_temp}}</p>
  <p><b>morn_temp</b>: {{homabay_daily.morn_temp}}</p>
  <p><b>pressure</b>: {{homabay_daily.pressure}}</p>
  <p><b>humidity</b>: {{homabay_daily.humidity}}</p>
  <p><b>wind_speed</b>: {{homabay_daily.wind_speed}}</p>
  <p><b>wind_deg</b>: {{homabay_daily.wind_deg}}</p>
  <p><b>pop</b>: {{homabay_daily.pop}}</p>
  <p><b>rain</b>: {{homabay_daily.rain}}</p>
  <p><b>clouds</b>: {{homabay_daily.clouds}}</p>
  <p><b>weather_id</b>: {{homabay_daily.weather_id}}</p>
  <p><b>weather_main</b>: {{homabay_daily.weather_main}}</p>
  <p><b>weather_description</b>: {{homabay_daily.weather_description}}</p>
  <p><b>weather_icon</b>: {{homabay_daily.weather_icon}}</p>
  {% endfor %}
  </div>

  <!--Busia-->
  <div>
    <h3>Busia</h3>
  <h4>Current</h4>
  <h5><b><em>STATUS: </em></b>{{busia_current.status}}</h5>
  <p><b>time</b>: {{busia_current.time}}</p>
  <p><b>temp</b>: {{busia_current.temp}}</p>
  <p><b>feels_like</b>: {{busia_current.feels_like}}</p>
  <p><b>pressure</b>: {{busia_current.pressure}}</p>
  <p><b>humidity</b>: {{busia_current.humidity}}</p>
  <p><b>clouds</b>: {{busia_current.clouds}}</p>
  <p><b>visibility</b>: {{busia_current.visibility}}</p>
  <p><b>wind_speed</b>: {{busia_current.wind_speed}}</p>
  <p><b>wind_deg</b>: {{busia_current.wind_deg}}</p>
  <p><b>weather_id</b>: {{busia_current.weather_id}}</p>
  <p><b>weather_main</b>: {{busia_current.weather_main}}</p>
  <p><b>weather_description</b>: {{busia_current.weather_description}}</p>
  <p><b>weather_icon</b>: {{busia_current.weather_icon}}</p>

  <h3>Busia Daily predicted weather</h3>
  {% for busia_daily in busia_daily_results %}
  <h4>{{busia_daily.time}} predictions</h4>
  <h5><b><em>STATUS: </em></b>{{busia_daily.status}}</h5>
  <p><b>time</b>: {{busia_daily.time}}</p>
  <p><b>day_temp</b>: {{busia_daily.day_temp}}</p>
  <p><b>night_temp</b>: {{busia_daily.night_temp}}</p>
  <p><b>min_temp</b>: {{busia_daily.min_temp}}</p>
  <p><b>max_temp</b>: {{busia_daily.max_temp}}</p>
  <p><b>eve_temp</b>: {{busia_daily.eve_temp}}</p>
  <p><b>morn_temp</b>: {{busia_daily.morn_temp}}</p>
  <p><b>pressure</b>: {{busia_daily.pressure}}</p>
  <p><b>humidity</b>: {{busia_daily.humidity}}</p>
  <p><b>wind_speed</b>: {{busia_daily.wind_speed}}</p>
  <p><b>wind_deg</b>: {{busia_daily.wind_deg}}</p>
  <p><b>pop</b>: {{busia_daily.pop}}</p>
  <p><b>rain</b>: {{busia_daily.rain}}</p>
  <p><b>clouds</b>: {{busia_daily.clouds}}</p>
  <p><b>weather_id</b>: {{busia_daily.weather_id}}</p>
  <p><b>weather_main</b>: {{busia_daily.weather_main}}</p>
  <p><b>weather_description</b>: {{busia_daily.weather_description}}</p>
  <p><b>weather_icon</b>: {{busia_daily.weather_icon}}</p>
  {% endfor %}
  </div>

</body>

</html>