
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
        <div class="container">

            <a href="/" class="navbar-brand">
                <img src="static/img/logo.png" alt="">
            </a>

            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-lg-5 pull-right">

                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Go Fish</a>
                    </li>

                    {% if current_user.is_authenticated %}

                    <!-- <li class="nav-item">
                        <a class="nav-link" href="{{url_for('main.account')}}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('main.write')}}">Write</a>
                    </li> -->
                    <li class="nav-item">
                        <a class='nav-link' href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('auth.logout')}}">Log out</a>
                    </li>

                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('auth.login')}}">Log in</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('auth.register')}}">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact Us</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</body>
